body{
    margin:2%;
    background-color: rgb(219, 219, 112);
}

header{
    margin:2%;
    padding:3%;
    border:10%;
    background-image: url(Ice.jpg);
    background-size:contain;
}


header p{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color:blue;
}

.selection{
    row-gap:1%;
    margin: 2%;
    align-items: center;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10%;
    margin: 2%;
    padding-left: 2%;
font-weight: bolder;   
    background-color: lightgoldenrodyellow;
    
    list-style:none
}


.selection img{
    width: 120px;
    height: 170px;    
}

.selection img:hover{
    transform:scale(160%);
    cursor:pointer;
}

.sz{
    margin:3%;
    padding: 2%;
    justify-content: center;
    gap: 5%;
    text-align: center;
    background-color: beige;
}

.top{
    padding: 2%;
    justify-content: center;
    gap: 5%;
    text-align: center;
    background-color: beige;
}

#calcular{
    color: blue;
    background-color: aliceblue;
    font-weight: bolder;
}